.header {
  display: flex;
  gap: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 75rem;
 
}

.slideshow {
  width: 40rem;
  height: 25rem;
}

.hero {
  color: #ddd6cb;
  font-size: 1.5rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #8b1111, #b12222, #d13a3a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta {
  font-size: 1.4rem;
  display: flex;
  gap: 2rem;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #8b1111, #b12222, #d13a3a);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cta a:hover,
.cta a:active {
  background: linear-gradient(90deg, #5e0b0b, #8b1111, #b12222);
}

.cta a:first-child {
  background: transparent;
  font-weight: normal;
  color: #d13a3a;
  padding-left: 0;
  transition: color 0.3s ease;
}

.cta a:first-child:hover,
.cta a:first-child:active {
  background: transparent;
  color: #b12222;
}


.section {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #b12222;
  margin-bottom: 1.2rem;
}

.section p {
  line-height: 1.8;
  margin-bottom: 1.4rem;
  color: #ddd6cb;
}

.section em {
  font-style: italic;
  color: #e2bdbd;
}

.section strong {
  color: #e6d3c7;
}



@media (max-width: 782px) {
  .header {
    flex-wrap: wrap;
  }
}


.orderButton {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #8b1111, #b12222, #d13a3a);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.orderButton:hover,
.orderButton:focus {
  background: linear-gradient(90deg, #5e0b0b, #8b1111, #b12222);
  transform: translateY(-2px);
}
