.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav a:hover,
.nav a:active {
  background: linear-gradient(90deg, #d62828, #047581);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(249, 199, 65, 0.8);
}

.active {
  background: linear-gradient(90deg, #d62828, #047581);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}


.menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header {
      padding: 13px
    }
  .menuButton {
    display: block;
  }
  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: linear-gradient(135deg, #d62828, #2a9d8f);
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: +2;
    border-radius: 0 0 0 12px;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.25);
  }

  .nav.open {
    transform: translateX(0);
  }

  .nav ul {
    flex-direction: column;
    gap: 1rem;
  }

    .nav a:hover,
    .nav a:active {
      background: linear-gradient(10deg, #000000, #047581);
      background-clip: text;
      text-shadow: 0 0 18px rgba(30, 22, 2, 0.8);
    }


  .active {
    background: linear-gradient(10deg, #000000, #047581);  background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .logo p {
    display: none;
  }
}
